*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
 display: flex;
 align-items: center;
 position: relative;
 box-shadow: 0px 2px 5px rgb(211, 208, 208);
 /* background-color: red; */
}
.header img{
  max-width:6em;
  padding: 10px;
  border-radius: 4em;
  flex: 2;
}
.header a{
  text-decoration: none;
}
.heading{
  top: 35%;
  right: 40%;
  position: absolute;
  color: black;
  transition:border-bottom 5s;
}
.heading:hover{
  border-bottom: 1px solid black;
  transition: inherit;
}
.navBar{
  /* background-color: green; */
  
}
.navLinks{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navLinks li{
  padding: 1em;
  list-style-type: none;
}
.navLinks li:hover{
  border-bottom: 2px solid black;
  transform: scale(1.1);
}
.navLinks a{
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  text-decoration: none;
}
.offer{
  width: 100%;
  height: 25em;
  margin:5px auto;
  padding: 5px;
  box-shadow: 0px 0px 5px black;
}

.offer img{
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
}
.special{
  width: 100%;
  height: 10em;
  display: flex;
  /* background-color: red; */
}
.chefSpecial{
  width: 50%;
  padding: 5px;
}
.chefSpecial img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.todaySpecial{
  padding: 5px;
  width: 50%;
}
.todaySpecial img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu{
  display: flex;
  flex-wrap: wrap;
}
.menuItems{
  width: 10em;
  height: 22em;
  margin: 5px;
  /* background-color: yellow; */
}
.menuItems img{
  width: 100%;
  height: 60%;
  padding: 5px;
  border-radius: 1em;
}
.menuDescription{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 5px;
  text-align: center;
}
footer{
  width: 100%;
  height: 10em;
  background-color: aqua;
}